 
  body{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 
  main{
    display:flex;
    flex-direction: row;
    flex: 1;
    flex:auto;
  }

  article{
    flex: 2;
    overflow-y:auto;
    color: rgb(87, 87, 175);
    border: 2px solid black;
    background-color: lightgray;

  }

  aside{
    flex: 1;
    overflow-y:auto
  }

  .logo {
    font-size: 30px;
    font-weight: bold;
    margin-right: 1px;
  }

  nav {
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 15px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}